body {
    margin: 0 auto;
    height: 100%;
}

/* DASHBOARD */

.container-fluid {
    left: 2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
    max-height: 100%;
    padding: 10px;
    overflow: hidden;
    
}

.navbar {
    /* position: sticky; */
    box-shadow: 1px 1px 10px 0 #f1f1f1;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-brand, img {
    margin-left: 10px;
}

.user-nav .company-nav{
    padding-left: 10px;
    padding-right: 10px;
}

.user-nav, .company-nav {
    transition: all .5s ease-in-out;
}

.user-nav:hover, .company-nav:hover {
    transform: scale(1.2);
}

.row {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}

.side {
    margin: 0 auto;
    position: inherit;
    max-height: 100%;
    max-width: 20%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 #f1f1f1;
        background: url(https://coderthemes.com/hyper/modern/assets/images/waves.png) no-repeat;
        padding: 30px 20px;
        text-align: center;
}

.side-courses {
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 #f1f1f1;    
}

p span {
    color: #3faa6b;    
}

#blankdevs {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#ver {
    margin: 0 auto;
    margin-bottom: 10px;
    color: #3faa6b;
}
#ver:hover + #blankdevs {
    opacity: 1.0;
    color: #303030;
}

.profile-pic-db {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.divide-cols {
    max-width: 0;
}

.main-content {
    margin: 0 auto;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 #f1f1f1;    
}

.overview {
    color: rgb(75, 75, 75);
    margin: 0 auto;
}

.course-btn-row {
    margin: 0 auto;
}

.course-button {
    margin: 0 auto;
    background-color: #3faa6c;
    font-weight: 500;
    color: #fff;
}

.course-button:hover {
    margin: 0 auto;
    background-color: #303030;
    border-color: #3faa6c;
    font-weight: 500;
    color: #3faa6c;
}


.card {
    display: inline-block;
    border-color: #6faa6bab;
    width: 100px;
    height: 100px;
    margin: 1rem;
    border-radius: 10px;
    transition: all 0.8s ease;
    background: #fff;
    position: relative;
    overflow: hidden;
  }
  .card-text {
      font-size: 12px;
  }
  .card:hover, .card.hover {
    transform: translateY(-4px);
    box-shadow: 1px 1px 10px 0 #bdbdbd;
  }
  .card:hover .card-content, .card.hover .card-content {
    box-shadow: inset 0 3px 0 0 #ccb65e;
    border-color: #ccb65e;
  }
  .card:hover .card-img .overlay, .card.hover .card-img .overlay {
    background-color: rgba(25, 29, 38, 0.85);
    transition: opacity 0.8s ease;
    opacity: 1;
  }

  .frame {
      margin: 0 auto;
  }



/* PROFILE */

input {
    border-color: #3faa6b;
}

input:focus { 
    outline: none !important;
}
textarea:focus { 
    outline: none !important;
}

.fa-file-upload, .fad, .fas {
    color: #3faa6b;
}

.fa-plus-circle, .course-icon {
    color: #fff;
}

.fa-plus-circle:hover, .course-icon:hover {
    color: #3faa6b;
}

.upload-avatar {
    margin-left: 0;
    transition: all 0.8s ease;
}

.upload-avatar:hover {
    transition: all 0.8s ease;
    transform: scale(1.3);
}

.form-control:hover {
    transition: all 0.8s ease;
}

.form-control:hover {
    transition: all 0.8s ease;
    box-shadow: 1px 1px 10px 0 #3faa6b;
}

.btn-next {
    outline: none !important;
    border-color: #3faa6b;
    font-weight: 500;
    background-color: #3faa6b;
    color: #fff;
    transition: all 0.8s ease;
}

.form-check-input:focus {
    background-color: #3faa6b;
}

.form-check-label:hover {
    color: #3faa6b;
}

.form-check-input:checked {
    background-color: #3faa6b;
    border-color: #3faa6b;
}

.btn-next:hover {
    outline: none !important;
    border-color: #3faa6b;
    font-weight: 500;
    color: #fff;
    transform: translateY(-4px);
    transition: all 0.8s ease;
    box-shadow: 1px 1px 10px 0 #9e9e9e;
    background-color: #3faa6b;
    
}